
body{
    background: gray url(Bear.JPG) repeat;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    



}

.link{
    color: white;

}
h1 {
    border: 3px darkgreen ridge;
    color: rgb(255,255,255);
    background-color: #3cb371;
    word-spacing: .5em;
    text-align: center;

}
h2 {
    font-size: 20px;
    color: mediumseagreen;
        
}

p {
    font-family: "Times New Roman";

}
#conclusion{
    text-align: center;

}

h6 {
    color: crimson;

}